@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lufga-Bold';
    src: url('../public/fonts/55c734255eace14b5028fc0d6893178c.woff2') format('woff2'),
        url('../public/fonts/55c734255eace14b5028fc0d6893178c.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lufga-Medium';
    src: url('../public/fonts/211c91a25a11e55197c59bbbf3f2b5b0.woff2') format('woff2'),
        url('../public/fonts/211c91a25a11e55197c59bbbf3f2b5b0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lufga-Regular';
    src: url('../public/fonts/89fc75b964203d5d9fa8ba0991ee4441.woff2') format('woff2'),
        url('../public/fonts/89fc75b964203d5d9fa8ba0991ee4441.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lufga-SemiBold';
    src: url('../public/fonts/f4a66c758b4ac062f39eef3615b00685.woff2') format('woff2'),
        url('../public/fonts/f4a66c758b4ac062f39eef3615b00685.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@layer base {
    html {
      @apply scroll-smooth;
    }
  }

html, body {
    font-family: 'Lufga-Regular', sans-serif;
    @apply dark:bg-slate-900 bg-white dark:text-gray-100 scroll-smooth ;
    cursor:none;


    
}
h1, h2, h3, h4, h5, h6 {
  @apply mt-10 mb-2
}
.large_circle, .small_circle{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color:rgba(249, 115, 22, 0.5);
    position: fixed;
  pointer-events: none;
  transition: transform 0.1s;
  z-index:9999;

}

.text-head {
    color: #1e1666;
    @apply fo-bold dark:text-blue-50;
}

.p-service-details {
  @apply text-xl leading-8 py-5;
}

.link {
  @apply text-orange-500 hover:text-white hover:bg-orange-500 hover:no-underline
}
.ul-effect-wh {
  @apply bg-gradient-to-l dark:from-[#c49f33] dark:to-[#bd6b3c] from-[#ffd143] to-[#ff9153] hover:bg-[length:100%_1.3em] ; 
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  #ffd143 0%, #ff9153 90% ); */
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 70%;
  transition: background-size 0.25s ease-in;
  padding: 0.2em 0 0.2em 0;
  /* box-shadow: inset 0 -.4em; */
}
.small_circle {
    width: 16px;
    height: 16px;
    background-color:rgb(249, 115, 22)
}

.fo-regular {
    font-family: 'Lufga-Regular', sans-serif;
}

.fo-bold {
    font-family: 'Lufga-Bold', sans-serif;
}

.fo-medium {
    font-family: 'Lufga-Medium', sans-serif;
}

.fo-semibold {
    font-family: 'Lufga-SemiBold', sans-serif;
}

.menu li {
    @apply hover:border-none
}



.ul-effect{
    @apply bg-gradient-to-l dark:from-[#c49f33] dark:to-[#bd6b3c] from-[#ffd143] to-[#ff9153]; 
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  #ffd143 0%, #ff9153 90% ); */
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 70%;
    transition: background-size 0.25s ease-in;
    padding: 0.2em 0 0.2em 0;
    /* box-shadow: inset 0 -.4em; */
}

.ul-effect .hover:hover {
    background-size: 100% 1em;
    background-position: 0 55%;
}
.read-more::before {
    content: "";
    display: inline-block;
    background: rgb(249, 115, 22);
    transform: translate(-30%, -100%);
    width: 20px;
    height: 3px;
}

.read-more:hover {
    content: "";
    display: inline-block;
    background: rgb(249, 115, 22);
    transform: translate(-30%, -100%);
    width: 20px;
    height: 3px;
}


.service-bg {
    background: rgb(255 237 213);
    
}

.cursor {
    background-color: #ff2000;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.swiper {
    width: 100%;
    height: auto + '100px';
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  

  .swiper-pagination-bullet-active {
    
    @apply bg-[#f97316] !important;
  }

  .btn-submit {
    @apply dark:bg-orange-500 bg-orange-500 text-white dark:text-white fo-medium flex-row transition-all hover:bg-orange-600 hover:scale-[1.05] hover:translate-y-1  border-none ;
  }

  .cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 137, 59, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover:before {
    width: 100%;
    background: #f97316;
    color: #ffffff;
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active {
    transform: scale(0.96);
  }


  .diamond-container {
    position: relative;
  }
  
  .diamond {
    position: relative;
    
    
    filter: drop-shadow(0 0 100px white);
  }
  
  .diamond-top {
    position: relative;
  }
  
  .diamond-top:before, .diamond-top:after {
    content:"";
    position: absolute;
    width:0;
    height:0;
    border-style: solid;
    top:0;
  }
  
  .diamond-top:before {
    border-color: transparent transparent #b4e3e6 transparent;
    border-width: 0 25px 30px 25px;
    filter: drop-shadow(50px 0 #94d7d9) drop-shadow(50px 0 #b4e3e6);
  }
  
  .diamond-top:after {
    border-color: #d8f8f9 transparent transparent transparent;
    border-width: 30px 25px 0 25px;
    left:25px;
    filter: drop-shadow(50px 0 #d8f8f9);
  }
  
  .diamond-bottom, .diamond-bottom:before {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .diamond-bottom {
    left: 0;
    top: 30px;
    border-color: #70ced4 transparent transparent transparent;
    border-width: 100px 75px 0 75px;  
  }
  
  .diamond-bottom:before {
    content:"";
    border-color: #b4e3e6 transparent transparent transparent;
    border-width: 100px 25px 0 25px;  
    top:-100px;
    left:-25px;
  }
  
  .diamond-bottom:after {
    content:"";
    position: absolute;
    border-radius:50%;
    width: 100px;
    height:10px;
    background-color: #b4e3e6;
    top:-135px;
    left:-50px;
  }
  
  .sparkles {
    z-index:2;
    position: absolute;
  }
  
  .one {
    position:absolute;
    font-size:40px;
    color: transparent;
    text-shadow: 0 0 white, -115px -75px white;
    animation: shine .5s linear infinite;
    left: 100px;
    top: 50px;
  }
  
  .two {
    position: absolute;
    color: transparent;
    font-size: 25px;
    left:45px;
    top:95px;
    text-shadow: 0 0 white, 55px -115px white;
    animation: shine .5s linear infinite .25s;
  }
  
  @keyframes shine {
    from {opacity:1;}
    to {opacity:0;}
  }